<app-navbar></app-navbar>
<h1 class="myTitle">Fils, Laines et autres matières<br> Quoi choisir ?</h1>

<div class="container bottom-space">
  <div class="img-centre">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/msdk0dk50mrh0cugiylc" class="home_who_img" >
  </div>
  <p class="text-justify tabulation">Cc, vous connaissez mes idées sur le sujets aussi je vous passerai le topo sur les fils à tricoter synthétique, vous y retrouverez l'acrylique, le nylon et le polyamide, le polyester, le lurex(une rare exception que vous pouvez retrouver dans mes créations). L'avantage des ces matières c'est leur facilité d'entretien, leur faible coût. Leurs inconvénients sont peu de qualité thermique (dommage pour un pull),ils sont issus de la pétrochimie et même une fois produits, ils continuent de polluer à chaque lavage via les eaux usées, les microparticules qui s'en dégagent passent à travers les filtres des stations d'épuration pour finir dans la mer.</p>
  <br><br>
  <p class="text-justify tabulation">Les fils à tricoter naturels sont réalisés à partir de fibres animales ou végétales filées, appelés communément laines. L'avantage est leur qualité thermique et respirante, et qu'elles ne prennent pas d'odeur, il suffit de ventiler votre pull, pas besoin de le laver à chaque fois que vous le porter, l'inconvénient est justement le lavage car les laines peuvent feutrer sous l'effet du changement brutal de température et les mouvements du tambour de la machine. Un procédé existe pour éviter ça ce sont les laines Superwash (SW), mais ce procédé utilise beaucoup de produits chimiques et d'eau donc un fort impact sur environnement autant le savoir. Contrairement aux fibres animales les fibres végétales sont très peu élastiques.</p>
  <br><br>
  <h2>Les différentes fibres animales :</h2>
  <ul class="my-list-style left-negatif">
    <li class="text-justify tabulation">
      <strong>La laine de mouton</strong>, brebis et agneau proviennent de la tonte des toisons. Suivant les races elles seront plus ou moins douces. Attention aussi à leur provenance, le mouton peut être en australie/amérique du sud, la laine lavée et traitée en chine et le filage en France. Le mérinos est très doux et en France le mérinos d'Arles, il y a aussi Ouessant, Shetland... La structure de la laine lui confère une bonne élasticité, de plus elle a une mémoire de forme ce qui évite les déformations dans le temps. Elle est infroissable et facile à teindre. Elle possède beaucoup de qualités thermiques et permet au corps de garder une température constante, et laisse la peau respirer, et permet l'évacuation de la transpiration.
    </li>
    <li class="text-justify tabulation">
      <strong>La laine Angora et cachemire</strong>, sont issues de chèvres. Le cachemire provient de chèvres de l'Himalaya, c'est le sous-poil de la toison. Elle est très fine, douce et avec des qualités thermiques très performantes. Les chèvres angora fournissent le mohair que l'on retrouve classé dans différentes catégories selon sa finesse, le plus fin étant le kid-mohair (provenant des chevreaux). Cette laine se gonfle d'air dès qu'il fait froid, ce qui lui confère des qualités thermiques exceptionnelles. La France en offre une grande variété grâce à nos élevages artisanaux. On le retrouve souvent associé à la soie sous la forme Kid-silk.
    </li>
    <li class="text-justify tabulation">
      <strong>laine de lapin angora</strong> : C'est une fibre extrêmement douce et jusqu'à 9fois plus chaude que la laine de mouton. Il faut faire attention à l'origine et au conditions de « récolte », en Allemagne les lapins sont tondus, en France épiler au peigne, en Asie le lapin est sacrifié. Alors attention à vos fournisseurs, et allez vers l'angora Caregora (respect strict du bien-être animal, avec une certification européenne).
    </li>
    <li class="text-justify tabulation">
      <strong>Laine d'Alpaga</strong>, très douce, chaude, légère et résistante, c'est une fibre de haut de gamme. La fibre de bébé alpaga convient parfaitement aux peaux sensibles, notamment pour la layette. De nombreux élevages se sont développés en France.
    </li>
    <li class="text-justify tabulation">
      <strong>Laine de Yak</strong>, elle a des qualités similaires au cachemire, douceur au toucher et chaleur.C'est une fibre assez rare qui ne peut être récoltée que de façon artisanale au printemps par étrillage car l'animal perd naturellement ses poils. On la retrouve souvent tissée avec de la soie ou de la laine d'agneau.
    </li>
    <li class="text-justify tabulation">
      <strong>La laine de chameau</strong>, tirée du duvet du chameau elle est extrêmement rare. Par ses qualités, elle ressemble beaucoup à la laine de yak.
    </li>
    <li class="text-justify tabulation">
      <strong>la soie</strong> : c'est une fibre protéique issus du cocon produit par la chenille du bombyx du mûrier pour celle de culture et du Tussah pour la soie sauvage. Elle donne un rendu brillant à l'ouvrage. Ses avantages sont son élasticité naturelle, sa solidité, sa capacité à absorber les colorants, et sa thermorégulation, laisse respirer la peau en été et réchauffe en hiver. On la retrouve souvent mélangée à d'autres fibres comme le mohair.
    </li>
  </ul>
  <br><br>
  <h2>Les differentes fibres végétales naturelles :</h2>
  <p class="text-justify tabulation">Des matières qui contrairement aux fibres animales ont l'avantage de se laver généralement en machine. Et aux vegans de se vêtir naturellement.</p>
  <ul class="my-list-style left-negatif">
    <li class="text-justify tabulation">
      <strong>Le coton</strong>. La plus répandue, et aussi controversée vu les dégats écologiques engendrés, beaucoup de pesticides et très consommatrice en eau. Privilégiez ceux qui sont certifiés GOTS. Il est absorbant et isolant, et resiste très bien aux lavages même à hautes températures. Il est doux, mais peut se révéler lourd à porter et chaud.
    </li>
    <li class="text-justify tabulation">
      <strong>Le lin</strong> : longtemps délaissé au profit du coton on le voit revenir sur le devant de la scène pour sa culture qui demande peu d'engrais et d'eau. Il est très solide, thermorégulateur, très léger. Son coté rêche s'estompe avec les lavages.
    </li>
    <li class="text-justify tabulation">
      <strong>Le bambou</strong>, très absorbant, il rivalise avec le coton, bien plus facile à cultiver. Il est doux et confortable, et très résistant, il peut remplacer le nylon pour la fabrication des chaussettes. Il est glissant et assez lourd. Regardez son origine, les conditions de culture n'étant pas les même en Europe qu'en Asie.
    </li>
    <li class="text-justify tabulation">
      <strong>Le soja</strong>, fibre que je connais assez peu, apparemment artificielle car régénérée à partir des protéines contenues dans les graines, c'est qui fait un gros travail de transformation. Elle est aussi brillante que la soie, hypoallergénique, stable au lavage et tient à la lumière et à la sueur.
    </li>
    <li class="text-justify tabulation">
      <strong>Le chanvre</strong> : fibre du moyen-âge qui retrouve ses lettres de noblesse, pour sa culture rapide et productive avec peu d'eau, d'engrais et de pesticides. Assez ressemblant au lin, il est aussi thermorégulateur, se porte aussi bien l'été que l'hiver, et s'adoucit avec le temps.
    </li>
    <li class="text-justify tabulation">
      <strong>le tencel</strong> (ou lyocell), est extrait de la pulpe du bois d'eucalyptus. Il rappelle la soie par son aspect et son toucher. Il est infroissable et facile d'entretien vu qu'il tient un lavage en machine à 60°C.
    </li>
  </ul>
  <p class="text-justify">Merci aux différents blogs, et wiki qui m'ont permis de me documenter sur le sujet.</p>
</div>