<app-navbar></app-navbar>
<h1 class="myTitle">LES LABELS</h1>

<div class="container pb-5">
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/xggkwezo3plljwyrzvf2" class="home_who_img" alt="Beaucoup de labels!" ><br><br>
  </div>
  <p class="text-justify">Pourquoi s'intéresser aux labels textiles ?</p>
  <p class="text-justify">Dans une démarche écologique et durable bien sûr. Quitte à faire de l'artisanat autant le faire bien et surtout choisir ses matières premières en toute conscience. L’industrie textile utilise le quart des produits chimiques dans le monde et a été accusée de 20 % de la pollution de l’eau par l’industrie, ce qui en fait le deuxième plus grand pollueur d’eau douce de la planète, c’est pour cela qu’en plus des normes et des réglementations, les labels ont un rôle à jouer, en terme d’accompagnement des marques, et aussi en tant que gage de qualité auprès des consommateurs finaux. Merci à tous ceux qui ont déjà écrit sur le sujet , des blogs et autres ou je me suis documentée pour vous offrir le plus large éventail de possibilités.</p>
  <p class="text-justify">Chaque label vérifie et priorise un ou plusieurs aspects de la chaîne de valeur. De production du tissu, jusqu’au produit fini. Voici quelques exemples de domaine où les labels se spécialisent :</p>
  <ul class="my-list-style">
    <li class="text-justify">Ecologie – Protection environnementale – Démarche éthique et durable – RSE</li>
    <li class="text-justify">Social – Respect de la condition humaine</li>
    <li class="text-justify">Commerce équitable</li>
    <li class="text-justify">Origine biologique – Produits certifiés sans pesticides – Cuir écologique – Produits vegans</li>
    <li class="text-justify">Santé</li>
  </ul>
  <p class="text-justify">L'industrie du textile étant une des plus polluantes mondialement, l'industrie des labels n'allait pas tarder à s'y mettre. Toujours plus vert que vert.... Mais qu'est ce que l'on nous vend ??? Et oui acheter des tissus ou laines/fils labélisés a un coût que le consommateur final devra payer. Alors autant les connaître pour bien choisir.</p>
  <p class="text-justify">Donc merci à tous ceux et celles qui ont écrit sur le sujet et m'ont permis de me documenter...Le wiki est ton meilleur ami...</p>
  <p class="text-justify">Je vais donc vous en faire une petite liste en détaillant les deux principaux puisque si je dois me fier à un label, ce sera un de ces deux-là....Après pour la laine, certifiée ou pas , je privilégie toujours un petit éleveur français, ou fillature, au moins on n'est sur de favoriser l'élevage français et on n'évite le coût carbonne (surtout que certains labels comme AB, n'ont rien à voir avec le AB français)...bref revenons à nos moutons !!!!</p>
  <p class="text-justify">GOTS pour</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/pme7t79jllunmq7jiycz" class="mylogo" alt="Global Organic Textil Standard" id="labelImage2"><br><br>
  </div>
  <p class="text-justify">est pour moi la référence en la matière. C'est un label que l'on retrouve plutôt au RU, aux USA et au Japon(j'adore leurs tissus). Il vise depuis 2008 à harmoniser les normes du secteur textile mondialement. Et il m’intéresse particulièrement puisqu'il possède les cahiers des charges les plus strictes concernant la laine, le coton, la soie, le chanvre (manque le lin...mais bon). De plus il fait appel à des organismes indépendants pour effectuer le contrôle de l'application du cahier des charges que le producteur s'est engagé à respecter.</p>
  <p class="text-justify">A chaque production son cahier bien sûr, mais dans l''ensemble on retrouve pour ce qui est interdits :</p>
  <ul class="my-list-style">
    <li class="text-justify">Les métaux lourds dans leur ensemble,</li>
    <li class="text-justify">Les perturbateurs endocriniens,</li>
    <li class="text-justify">Les produits ignifuges bromés ou chlorés,</li>
    <li class="text-justify">Les organismes génétiquement modifiés ou OGM,</li>
    <li class="text-justify">La nanotechnologie,</li>
    <li class="text-justify">Les substances cancérigènes,</li>
    <li class="text-justify">Le PVC,</li>
    <li class="text-justify">Le nickel,</li>
    <li class="text-justify">Le chrome,</li>
    <li class="text-justify">Les méthodes d’impression utilisant des solvants aromatiques,</li>
    <li class="text-justify">Les méthodes d’impression plastisol utilisant des phtalates et PVC.</li>
  </ul>
  <p class="text-justify">Pour ce qui est  inévitables, l''écolabel fait des concessions sans toutefois se plier à la loi du marché. Pour ainsi dire, la certification GOTS cherchent à limiter leur usage avec des mesures comme pour :</p>
  <ul class="my-list-style">
    <li class="text-justify">L’arrosage des cultures de coton qui doit être raisonné,</li>
    <li class="text-justify">Les eaux usées qui doivent être assainies dans une station d’épuration,</li>
    <li class="text-justify">Les emballages qui doivent être recyclables.</li>
  </ul>
  <p class="text-justify">Pour ce qui est du social, il va de soi (-mais sûrement pas tant que ça vu qu'il faut le dire, là aussi tout dépend du pays d'origine^^) que le travail forcé, des enfants et la discrimination sont interdits, se rajoute à ça les recommandations de l'OIT (organisation internationale du travail), soit horaire et salaire décents, le droit syndical , et des conditions d'hygiène et de sécurités</p>
  <p class="text-justify"><strong>Et ce que j'apprécie particulièrement en tant que client, des tests de d'usures, car pour être logique le vêtement doit pouvoir durer dans le temps, afin de limiter sa production et son impact environnemental.</strong></p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/wovdvgzmimcexmsgfbz9" class="mylogo" alt="oeko-tex" id="labelImage"><br><br>
  </div>
  <h3>OEKO-TEX 100</h3>
  <p class="text-justify"> C’est un des labels que l’on croise le plus, d'origine allemande. Il s’agit du premier label visant à garantir<strong>des textiles sans produits toxiques pour le corps et pour l’environnement.</strong></p>
  <p class="text-justify">C’est un label fiable mais qui peut aussi certifier des matières synthétiques et donc polluantes en amont.</p>
  <p class="text-justify">On le retrouve sous différentes formes</p>
  <p class="text-justify">Le label ÖKO-TEX standard 100 permet de protéger le consommateur. En effet, les produits labellisés sont exempts de produits chimiques qui pourraient être toxiques pour le consommateur tels que les formaldéhydes ou les métaux lourds, par exemple. Ce label international est beaucoup utilisé notamment pour le linge de lit des jeunes enfants.</p>
  <p class="text-justify">Il existe également le label ÖKO-TEX standard 1000 qui certifie que la production  respecte l’environnement pendant toutes ses étapes.</p>
  <p class="text-justify">Enfin, ÖKO-TEX standard 100 plus atteste que les produits labellisés sont sans substances toxiques et issus d’une production respectueuse de l’environnement.</p>
  <p class="text-justify">Ces deux autres formes du label textile international ÖKO-TEX standard ne sont pas très répandues et sont assez rares à trouver sur les textiles.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/elhnwjc1hpz4wlf92bnj" class="mylogo" alt="Made in green" id="labelImage"><br><br>
  </div>
  <h3>MADE IN GREEN</h3>
  <p class="text-justify">Oeko-Tex a également créé une nouvelle certification Made in Green. Elle est l’assurance que<strong>les textiles sont sûrs pour la santé des consommateurs (sans produits chimiques nocifs) et sont également produits de manière durable et socialement responsable.</strong></p>
  <p class="text-justify">Grace à l’utilisation d’un numéro<strong>de test spécifique et un QR code, les textiles et les processus de fabrication peuvent être détaillés et suivis.</strong></p>
  <p class="text-justify">Made in Green remplace l’ancien système de certification, Oeko-Tex Standard 100 Plus et le label espagnol Made in Green by Aitex.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/pme7t79jllunmq7jiycz" class="mylogo" alt="Max Havelaar" id="labelImage"><br><br>
  </div>
  <h3>MAX HAVELAAR</h3>
  <p class="text-justify">C’est le label du commerce équitable. Il garantit que le<strong>produit répond aux critères internationaux du commerce équitable portant sur les conditions de production et la rémunération du producteur. Il garantit le respect des conventions de l’Organisation internationale du travail (OIT).</strong></p>
  <p class="text-justify">C’est un bon label, mais il est moins exigeant sur les<strong>critères environnementaux : les OGM sont interdits, mais pas les pesticides.</strong></p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/nfoicea1byrgi9g7ligm" class="mylogo" alt="Bio Equitable" id="labelImage"><br><br>
  </div>
  <h3>BIO EQUITABLE</h3>
  <p class="text-justify">Ce label garantit une<strong>production biologique</strong>de la matière première, notamment du coton. Il applique également<strong>une charte équitable et humaine</strong>qui concilie l’écologie et le social. Dans une logique globale, le label implique tous les acteurs de la chaîne.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/rxhxud2zabq1ym6klg0d" class="mylogo" alt="Ecocert" id="labelImage"><br><br>
  </div>
  <h3>ECOCERT</h3>
  <p class="text-justify">C’est un label qui agit <strong>sur la défense du consommateur, de l’environnement et des travailleurs</strong>. Il a donc plusieurs objectifs.</p>
  <p class="text-justify">Le premier est de protéger la planète et ses ressources en utilisant <strong>au minimum 70% de fibres naturelles ou issues de matériaux renouvelables ou recyclés.</strong> Mais également en définissant une <strong>politique environnementale</strong><p> imposant la réduction des consommations en eau et en énergie, en utilisant des colorants, agents textiles et procédés de fabrication </p><strong>respectueux de l’environnement et de la santé du consommateur.</strong>
  <p class="text-justify">Il agit également en garantissant les principales <strong>conventions internationales</strong> en matière sociale, d’hygiène et sécurité au travail.</p>
  <p class="text-justify">Enfin, il a <strong>un rôle de protection et d’information du consommateur</strong> en fournissant une information claire sur la nature des fibres composant le produit et en <strong>interdisant l’emploi de substances dangereuses</strong> (ex : métaux lourds, amines cancérogènes, formaldéhydes, enzymes OGM, …).</p>
  <p class="text-justify">Mais ça reste bien inférièure aux exigences de GOTS</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/lrmrqgqlf7xgpvxr46pl" class="mylogo" alt="Biore" id="labelImage"><br><br>
  </div>
  <h3>BIORE</h3>
  <p class="text-justify">C’est un label suisse qui possède des garanties écologiques, éthique et social. Il certifie la matière première du <strong>coton dont la production est issue de l’agriculture biologique.</strong></p>
  <p class="text-justify">Au niveau environnemental, il certifie l’<strong>absence de produits chimiques</strong>Au niveau environnemental, il certifie l’<strong>un traitement des eaux usées avant leur rejet dans la nature.</strong></p>
  <p class="text-justify">Il a également un rôle social en garantissant de <strong>bonnes conditions de travail</strong> (pas de travail des enfants, sécurité du travail, salaires minimaux…).</p>
  <p class="text-justify">Il assure également <strong>la traçabilité des produits.</strong> On peut même savoir qui a fabriqué le vêtement en se rendant sur le site du label.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/pmie6dpbhfu9z0lthc5o" class="mylogo" alt="Ecolabel Européen" id="labelImage"><br><br>
  </div>
  <h3>ECOLABEL EUROPÉEN</h3>
  <p class="text-justify">Ce label européen évalue <strong>l’impact environnemental des produits tout au long de leur durée de vie.</strong> Il repose sur le principe d’une <strong>approche globale</strong> qui '<strong>prend en considération le cycle de vie du produit à partir de l’extraction des matières premières, la fabrication, la distribution, et l’utilisation jusqu’à son recyclage ou son élimination après usage'.</strong></p>
  <p class="text-justify">Ce label ne concerne que l’environnement et n’offre aucune garantie sociale.</p>  
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/pmxy2o9fi7dq2wdnlp0s" class="mylogo" alt="Origine France Garantie" id="labelImage"><br><br>
  </div>
  <h3>ORIGINE FRANCE GARANTIE</h3>
  <p class="text-justify">C’est le label officiel pour <strong>garantir une fabrication française en totalité ou en partie.</strong> C’est une garantie contre le faux made in France et donc pour la <strong>préservation de l’emploi et du respect de normes sociales, environnementales et sanitaires.</strong></p>
  <p class="text-justify">Il certifie <strong>qu’au moins 50% du produit est bien fabriqué en France.</strong> L’autre moitié du produit peut être confectionné ailleurs…  On peut regretter que ce label ne s’applique pas à 100%.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/gejovurqdlabcqfmckqz" class="mylogo" alt="Demeter" id="labelImage"><br><br>
  </div>
  <h3>DEMETER</h3>
  <p class="text-justify">Le label Demeter est très exigeant. Il implique que la matière première du textile (les fibres de laine, de coton ou de lin) soient <strong>issues de fermes certifiées Demeter</strong>, selon un cahier des charges <strong>plus exigeant que celui de l’agriculture biologique certifiée par le logo AB.</strong></p>
  <p class="text-justify">Le coton doit être <strong>récolté à la main, la mécanisation étant possible seulement lorsque l’usage de produits chimiques est exclus.</strong> Les fibres animales doivent être tondues ou peignées.</p>
  <p class="text-justify">Le label Demeter textile peut être accordé à des produits contenant des <strong>fibres naturelles</strong> conventionnelles qui ne seraient pas disponibles sous label Demeter <strong>jusqu’à hauteur de 50 %.</strong></p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/kuwvh0pcv5upkqdjjl4s" class="mylogo" alt="Naturtextil" id="labelImage"><br><br>
  </div>
  <h3>NATURTEXTIL</h3>
  <p class="text-justify">Ce label répond à un cahier des charges strictes et rigoureux.</p>
  <p class="text-justify">Les textiles labellisés ont <strong>au moins 95% de leurs fibres issues de l’agriculture biologique</strong> ou en conversion. A chaque étape du process de production, il doit être vérifié que les fibres biologiques et conventionnelles ne sont pas mélangées, et que les fibres biologiques ne sont contaminées d’aucune manière.</p>
  <p class="text-justify">Le processus de fabrication des vêtements est également très contrôlé. <strong>Les substances tels que le chlore, les métaux lourds, le nickel sont interdites, ainsi que tout produit susceptible de contenir des OGM.</strong></p>
  <p class="text-justify">Sur le plan environnemental, les partenaires sont soumis à une charte très stricte d’<strong>enregistrement permanent concernant l’utilisation des produits chimiques et de l’énergie, la consommation d’eau et le traitement des eaux usées. Les matériaux de stockage ne doivent pas contenir de PVC.</strong></p>
  <p class="text-justify">Enfin, le label <strong>contrôle également les conditions de travail</strong> : respect des droits des salariés, interdiction du travail forcé (tout comme le fait d’exiger des travailleurs qu’ils laissent leurs papiers d’identité à leur employeur), lieu de travail sécurisé et sain, travail des enfants est interdit, toute discrimination, de quelque nature qu’elle soit (absence de promotion, différence de rémunération,..) n’est autorisée,…</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/oxc20motwjbkqbjxmxrf" class="mylogo" alt="Naturleder" id="labelImage"><br><br>
  </div>
  <h3>NATURLEDER</h3>
  <p class="text-justify">C’est le premier label <strong>à certifier du cuir écologique.</strong></p>
  <p class="text-justify">Il permet de limiter fortement les impacts d’une industrie très polluante. Il garantit une <strong>conservation des peaux se fait par le froid et avec du sel, sans agents chimiques. Le tannage à base de chrome ou d’autres produits polluants est interdit. Seuls sont autorisés les produits végétaux et ceux avec de l’aluminium, du zirkonium ou du titane.</strong> Les colorants contenant des métaux lourds sont également proscrits.</p>
  <p class="text-justify">Ce label garantie également que les peaux doivent appartenir à des <strong>animaux élevés d’abord pour leur viande.</strong></p>
  <p class="text-justify">Enfin ce label possède les mêmes critères sociaux que le label textile précédemment décrit.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/e8absscyt0nss3mymagj" class="mylogo" alt="Soil Association Organic" id="labelImage"><br><br>
  </div>
  <h3>SOIL ASSOCIATION ORGANIC</h3>
  <p class="text-justify">C’est le plus important label bio au Royaume-Uni. ll certifie des produits biologiques et mène campagne pour une agriculture respectueuse de l’environnement ainsi que pour une production alimentaire plus sûre et plus saine.</p>
  <p class="text-justify">Concernant le textile, <strong>au moins 70 % de fibres doivent être biologiques, et ne pas contenir de substances nocives.</strong></p>
  <p class="text-justify">Ce label prend également en compte <strong>des critères sociaux et respecte les conventions de l’Organisation internationale du travail (OIT).</strong></p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/hqwunxwx5gows74arjbo" class="mylogo" alt="Entreprise Du Patrimoine Vivant" id="labelImage"><br><br>
  </div>
  <h3>ENTREPRISE DU PATRIMOINE VIVANT (EPV)</h3>
  <p class="text-justify">Le label Entreprise du Patrimoine Vivant (EPV) est un label français. C’est une marque de reconnaissance de l’Etat distinguant <strong>des entreprises françaises aux savoir-faire artisanaux et industriels d’excellence. </strong>Il distingue notamment les savoir-faire traditionnels de qualité (comme la dentelle).  Les Entreprises du Patrimoine Vivant <strong>maintiennent leur activité de production en France.</strong></p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/intqjddvanipof6y5pf8" class="mylogo" alt="Fair Wear Foundation" id="labelImage"><br><br>
  </div>
  <h3>FAIR WEAR FOUNDATION (FWF)</h3>
  <p class="text-justify">Fair Wear Foundation est une fondation qui travaille au respect des conditions de travail décentes dans les entreprises. Son <strong>objectif est de contribuer à l’amélioration des conditions de travail dans l’industrie textile.</strong></p>
  <p class="text-justify">Pour cela elle a crée un Code des Conditions de Travail (Code of Labour Practices) que les marques s’engagent à respecter. Les grands principes de ce code sont les suivants : <strong>interdiction du travail forcé, pas de discrimination à l’emploi, liberté syndicale, conditions de travail décentes (hygiène, santé), travail des enfants est interdit,  temps de travail et salaires contrôlés, toute discrimination interdite.</strong></p>
  <p class="text-justify">La FWF s’engage ensuite à vérifier l’application de ces principes dans les usines de filature et de confection de textiles.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/swnkctr6ukwsqfpdqvs1" class="mylogo" alt="Made In Respect" id="labelImage"><br><br>
  </div>
  <h3>MADE IN RESPECT</h3>
  <p class="text-justify">L’objectif de ce label est de permettre aux petites entreprises, notamment industrielles, de disposer d’un outil de valorisation de leurs démarches éthiques de <strong>responsabilité sociale et environnementale</strong> (RSE), facile à mettre en place, peu coûteux et fiable.</p>
  <p class="text-justify">Les critères associent des aspects liés <strong>à la qualité et au savoir-faire, aux conditions sociales, à l’éco-conception et au respect de l’environnement ainsi qu’à l’éthique économique.</strong></p>
  <p class="text-justify">Ces principes vise ainsi à promouvoir des produits fabriqués dans une démarche véritablement durable.</p>
  <div class="centrage">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/qvzpo9najamwrxivtart" class="mylogo" alt="Organic" id="labelImage"><br><br>
  </div>
  <h3>ORGANIC</h3>
  <p class="text-justify">C’est une organisation américaine visant à promouvoir l’utilisation du coton biologique et qui est soutenu par des marques telles que Nike, Walmart, H&M, Adidas, Patagonia, Marks&Spencer… Il s’agit de disposer d’une norme permettant d’accéder facilement à du coton bio.</p>
  <p class="text-justify">Cette certification garantit <strong>un taux de coton biologique dans le produit fini mais ne garantit pas les étapes de transformation du textile et notamment la teinture.</strong> Elle ne comporte pas d’éléments concernant les conditions sociales de production. <strong>C’est donc un label peu fiable, surtout quand on voit où ces marques produisent et les conditions de travail qu'elles infligent à leurs employés (cf sous-traitants).</strong></p>
  <a href="http://www.mescoursespourlaplanete.com/labels.php?idFamProd=10&idType=">Sources : Eco-sapiens, Mes Courses pour la Planète</a>
</div>