<app-navbar></app-navbar>
<h1 class="home_title">Contact</h1>
<div class="container bottom-space">
  <div class="img-centre">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/qgeyumulkufhrnstkbue" class="home_who_img" >
  </div>
  <p>Pour nous contacter :</p>
  <div class="my-justify">
    <p>OcéNat Créations</p>
    <p>	16 rue des tilleuls,</p>
    <p>	16360 Baignes Ste Radegonde</p>
  </div>
  <p>Téléphone :</p>
  <p class="my-justify"><a href="tel:0641311956"> 06.41.31.19.56</a></p>
  <p>Messenger :</p>
  <p class="my-justify"> @OceNat </p>
  <p>E-mail :</p>
  <p class="my-justify"> ocenat.creations@orange.fr</p>
</div>