<div class="page">
  <div class="navbar">
    <div class="logo">
      <img src="../../assets/images/logo.png">
      <h1>
        <p class="blue">Oce</p>
        <p class="green">Nat</p>
        <p class="orange">Creations</p>
      </h1>
    </div>
    <div class="menu">
      <ul class="list-menu">
        <li>
          <app-reverse-button class="accueil-btn" frontText="Accueil" backText="Accueil" link="/accueil"></app-reverse-button>
          <ul class="list-accueil">
            <li>Qui sommes nous?</li>
            <li>Conditions de vente</li>
            <li>Contact</li>
            <li>Connexion</li>
          </ul>
        </li>

        <li>
          <app-reverse-button class="boutique-btn" frontText="Boutique" backText="Boutique" link="/boutique"></app-reverse-button>
          <ul class="list-boutique">
            <li>Produits zéro déchets</li>
            <li>Collection été 2020</li>
            <li>Accessoires</li>
          </ul>
        </li>
        <li>
          <app-reverse-button class="articles-btn" frontText="Articles" backText="Articles" link="/articles"></app-reverse-button>
          <ul class="list-articles">
            <li>Intérets de la laine</li>
            <li>La laine et autres matières</li>
            <li>Inovations textiles</li>
            <li>Labels</li>
            <li>Liens</li>
            <li>Veste Spitzberg</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="options">
      <ul class="list-options">
        <li><a routerLink="/connexion" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-label="Connexion" >face</mat-icon></a><p class="connexion-text">Connexion</p></li>
        <li><a routerLink="/langue" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-label="Langue">outlined_flag</mat-icon></a><p class="langue-text">Langue</p></li>
        <li><a routerLink="/panier" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-label="Panier">shopping_cart</mat-icon></a><p class="panier-text">Panier</p></li>
      </ul>
    </div>
  </div>  
</div>