 //variables couleurs
$blue: #207DFF;
$green: #00BD56;
$orange: #FF6337;
$black: #000000;

*{
  margin: 0;
  padding: 0;
}
.page{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: lightgray;
  background-image: linear-gradient(315deg, rgba(236,234,226,0.8), rgba(236,234,226,0.6) 40%, rgba(250,250,250,0)),url(https://res.cloudinary.com/do3nu0tns/image/upload/v1596480564/skxl6dkcxcyfv8xscv80.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar{
  width: 100vw;
  height: 24vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.logo{
  width: 25vw;
  height: 24vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img{
    width: 80px;
    height: 80px;
  }
}
.blue, .green, .orange{
  display: inline;
}
.blue{
  color: $blue;
}
.green{
  color: $green;
}
.orange{
  color: $orange;
}
h1{
  font-family: 'Akronim', cursive;
  display: inline;
  font-size: 32px;
}
.menu{
  width: 50vw;
}
.options{
  width: 25vw;
}
.list-menu, .list-options{
  width: 100%;
  height: 24vh;
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  a{
    list-style-type: none;
    text-decoration: none;
    color: $black;
    mat-icon{
      width: 34px;
      height: 34px;
      font-size: 34px;
    }
  }
}
.list-menu li, .list-options li{
  display: inline-block;
}
.list-options li p{
  display: none;
  position: relative;
}
.list-options li:hover p{
  display: block;
}

.list-accueil li, .list-boutique li, .list-articles li{
  display: list-item;
}
.list-accueil, .list-boutique, .list-articles{
  display: none;
  position: absolute;
  top: 250px;
}
.accueil-btn:hover + .list-accueil{
  display: block;
}
.boutique-btn:hover + .list-boutique{
  display: block;
}
.articles-btn:hover + .list-articles{
  display: block;
}