@import "../../assets/scss/generic.scss";

.page{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: lightgray;
  background-image: linear-gradient(315deg, rgba(236,234,226,0.8), rgba(236,234,226,0.6) 40%, rgba(250,250,250,0)),url(https://res.cloudinary.com/do3nu0tns/image/upload/v1596480564/skxl6dkcxcyfv8xscv80.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
