<app-navbar></app-navbar>
<h1 class="home_title">Qui sommes nous ?</h1>
<div class="container" id="who-page">
  <div class="img-centre">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/twenozss89lby1vcxxxw"
         class="home_who_img" >
  </div>
  <p class="text-justify">OcéNat Créations est une petite entreprise artisanale, qui se veut avant tout française et écoresponsable.</p>
  <p>Ayant travaillé comme observatrice scientifique embarquée, j'ai été très vite sensibilisée à l'impact du plastique sur les océans. Or le plastique c'est quoi ? Un peu tout, à vrai dire, on le retrouve dans les fibres synthétiques comme les polaires sous forme de microparticules, et c'est elles qui forment des continents dans certaines zones des océans et détruisent une grande partie de la faune car invisibles mais absorbées.</p>
  <p>'Aussi nous avons décidé :'</p>
  <ul class="my-list-style">
    <li>de ne travailler que des fibres naturelles(animales ou végétales),</li>
    <li>de participer au recyclage de vêtements, 2ème industrie les plus polluantes au monde, et beaucoup de vêtements sont très peu portés avant d'être jetés,</li>
    <li>et afin de rester dans l'idée, nous avons aussi développé une gamme de zéro-déchet qui vous aidera à éliminer le plastique de votre quotidien (sac à vrac, charlotte à plat ou bee-wraps...)et faire des économies sur le long terme.</li>
  </ul>
  <p>Nos fournisseurs sont choisis avec le plus grand soin pour répondre à nos nombreuses exigences.Nous essayons au maximum dans la mesure du possible de travailler avec des laines/fils/tissus labellisé GOTS, ou Okéo-tex, après nous privilégions toujours les productions françaises afin de limiter les émissions carbone</p>
  <p>Ce site vous les présente dans sa boutique, sous 3 catégories. Vous y trouverez aussi quelques articles sur l'écologie et l'industrie textile, ainsi que sur les fibres et des tutoriels.</p>
  <p>N'hésitez pas à vous abonner, vous recevrez ainsi notre newsletter (4 par an environ) et vous pourrez commenter vos articles préférés</p>
  <p>Bonne visite</p>
  <p class="signature">OcéNat</p>

</div>